@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'sify';
}

@font-face {
    font-family: sify;
    src: url(../fonts/Flare-Regular.otf);
}

.custom-shape-divider-top-1672147994 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1672147994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1672147994 .shape-fill {
    fill: rgba(5, 207, 111, 255);
}

/*NavBar*/

.navbar {
    padding-top: 2% !important;
    background-color: rgb(18, 26, 27, 0.5) !important;
    backdrop-filter: blur(5px) !important;
}

.navbar a {
    display: flex;
    color: white;
}

nav li,
a {
    color: white;
    /* para darle color a los items */
    text-decoration: none;
    /* para quitar el subrayado */
    font-size: 16px;
    /* para darle tamaño a la fuente */
    padding: 0 20px;
    /* para agregar espacio a los lados de cada item */
}
.card-body{color: white;}
.container{
    max-width: 90% !important;
}

/* Banner*/
.banner {
    background-image: url('../img/background.jpg');
    height: 100%; /* establece el alto del banner */
    width: 100%; /* hace que el banner ocupe todo el ancho de la pantalla */
    background-size: cover; /* hace que la imagen se ajuste al tamaño del banner */
    background-position: center; /* centra la imagen en el banner */
    display: flex;
  }
  



/*Banner*/
.btn-verde {
    background-color: rgba(5, 207, 111, 255);
    color: rgba(1, 11, 13, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 15%;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2%;
    width: 30%;
    border-radius: 5%;
}

.btn-negro {
    background-color: rgba(1, 11, 13, 255);
    color: rgba(97, 103, 107, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 15%;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2%;
    width: 30%;
    border-radius: 5%;
}

.titulos {
    color: rgba(222, 232, 234, 255);
    display: block;
    margin-top: 20%;
}

.titulos h1,
h2,
h3 {
    margin: 0;
}

.parrafos {
    text-align: justify;
    /* Justifica el texto */
    color: rgb(190, 201, 182);
    display: block;
    margin-top: 10%;
}

.Contenido_1 {
    width: 50%;
    float: left;
    backdrop-filter: blur(5px);
}

/*Seccion uno*/
.seccion_1 {
    margin-top: 5%;
    backdrop-filter: blur(5px) !important;
    background-color: rgb(18, 26, 27);
    height: 100%;
}

.seccion_1 h1 {
    color: rgb(188, 222, 227);
    padding-top: 3.33%;
}

.cartas {
    display: flex;
    justify-content: space-between;
}

.cartas .card {
    margin: 0.8%;
}

.card img {

    border-radius: 8%;
}

.card {
    width: 33rem;
    border: 0px !important;
}

.card a {
    text-decoration: none;
}

.card {
    background: rgb(0, 0, 0, 0.0) !important;
}

.cartas .div_doble {
    flex: 1;
    margin: 0 10px;
    /* margen de 10px a izquierda y derecha */
    background-color: rgba(33, 34, 43, 255);
    color: white;
    border: 1px solid;
    border-radius: 4%;
    border-color: rgba(81, 84, 94, 255);
    margin-bottom: 5%;
    padding: 2%;
}

.xl {
    flex: 2 !important;
    /* establece el tamaño básico del elemento en 50% y su propiedad flex-grow en 2 */
}

.icono_tabla {
    width: 100%;
    border-radius: 10%;
}

.div_doble .tabla {
    color: white;
    width: 100%;
}

.div_doble td {
    border-bottom: 1px solid rgba(5, 207, 111, 255);
    padding: 0.5%;
}

.div_doble .td {
    vertical-align: middle;
    text-align: right;

}

.div_doble .td_icono {
    vertical-align: middle;
    padding: 2%;
    margin-top: 1%;

}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(5, 207, 111, 255);
}

.footer>div {
    text-align: center;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
.pie {
    background-color: rgba(5, 207, 111, 255);
    font-weight: bold;
}

.pie .container{
    margin-bottom: 2%;
}

.seccion_2 {
    backdrop-filter: blur(5px) !important;
    background-color: rgb(18, 26, 27);
    height: 100%;
}

.seccion_2 h1 {
    color: rgb(188, 222, 227);
    padding-top: 3.33%;
}

.custom-shape-divider-top-1672151114 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1672151114 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
}

.custom-shape-divider-top-1672151114 .shape-fill {
    fill: rgb(18, 26, 27);
}

/* Estilos para teléfonos móviles */
@media (max-width: 767px) {
    body {
        background-image: url('../img/background_movil.jpg');
    }

    .Contenido_1 {
        width: 100%;
        backdrop-filter: blur(5px);
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .btn-verde {

        margin-right: 2%;
    }

    .cartas {
        flex-direction: column;
        align-items: center;
    }

    .cartas .card {
        width: 18rem !important;
        margin-top: 6%;
    }
}